.header {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color:#a366e4;
    color:#f2f2f2;
}

.body-images {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  }
  .topnav a:hover {
    border-bottom: 3px solid #f2f2f2;
  }

  .sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    Background-color: #a366e4

  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    color: #f2f2f2
  }
  .sidenav a:hover {
    border-bottom: 3px solid #f2f2f2;
  }
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }